<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Buttony</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="primero">
    <ion-button expand="block">Block</ion-button>
    <ion-button expand="full">Full</ion-button>
  </div>
  <hr color="danger">
  <div class="segundo">
    <ion-button>Default</ion-button>
    <ion-button shape="round">Round</ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
    <ion-button shape="round">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
  </div>
  <hr color="danger">
  <div class="tercero">
    <ion-button>Default</ion-button>
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="tertiary">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>
  </div>
</ion-content>
