

ion-content {
	--padding-top: 40%;
	--padding-start: 10%;
	--padding-end: 10%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--ion-color-darkGray-tint);
  border-radius: 20px;
}

ion-input {
	width: 100%;
  margin-bottom: 15px;
	border-radius: 20px;
}

ion-item {
  width: 100%;
  margin-bottom: 15px;
}

ion-button {
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
}

p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

ion-button[fill="clear"] {
  color: var(--ion-color-light);
}