<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="primero">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>1</ion-col>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="segundo">
    <b>Column 1 has <code>size</code> set to <code>"auto"</code></b>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">1</ion-col>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
      </ion-row>
    </ion-grid>

    <b>Column 3 contains an input and has <code>size</code> set to <code>"auto"</code></b>
    <ion-grid>
      <ion-row>
        <ion-col>1</ion-col>
        <ion-col>2</ion-col>
        <ion-col size="auto">
          <ion-input placeholder="3"></ion-input>
        </ion-col>
        <ion-col>4</ion-col>
        <ion-col>5</ion-col>
        <ion-col>6</ion-col>
      </ion-row>
    </ion-grid>

    <b>Column 2 has <code>size</code> set to <code>"auto"</code> and a defined width</b>
    <ion-grid>
      <ion-row>
        <ion-col>1</ion-col>
        <ion-col size="auto">
          <div style="width: 150px">2</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="tercero">
    <b>Stacked for xs breakpoint, equal width for sm and up</b>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="3">1</ion-col>
        <ion-col size="12" size-sm="3">2</ion-col>
        <ion-col size="12" size-sm="3">3</ion-col>
        <ion-col size="12" size-sm="3">4</ion-col>
      </ion-row>
    </ion-grid>

    <b>Equal width until md breakpoint, last column takes full width for md and up</b>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6">1</ion-col>
        <ion-col size-md="6">2</ion-col>
        <ion-col size-md="12">3</ion-col>
      </ion-row>
    </ion-grid>

    <b>2 per row until md breakpoint, 3 per row for md, equal width for lg and up</b>
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">1</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">2</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">3</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">4</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">5</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">6</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
