.content {
  --background: var(--ion-color-lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-list {
  width: 90%;
  max-width: 400px;
  background: var(--ion-color-peach);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-item {
  --background: var(--ion-color-coral);
  color: var(--ion-color-light);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.custom-item:hover {
  --background: var(--ion-color-yellow);
  transform: scale(1.05);
  font-weight: bold;
}
