<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>COMPONENTES APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  
  <ion-list class="custom-list">
    <ion-item routerLink="/componente-uno" class="custom-item">
      <ion-label>ACORDION</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-dos" class="custom-item">
      <ion-label>ALERT</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-tres" class="custom-item">
      <ion-label>BREADCRUMBS</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-cuatro" class="custom-item">
      <ion-label>BUTTONS</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-cinco" class="custom-item">
      <ion-label>CARDS</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-seis" class="custom-item">
      <ion-label>CHECKBOXES</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-siete" class="custom-item">
      <ion-label>CHIPS</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-ocho" class="custom-item">
      <ion-label>GRID</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-nueve" class="custom-item">
      <ion-label>INPUTS</ion-label>
    </ion-item>
    <ion-item routerLink="/componente-diez" class="custom-item">
      <ion-label>ITEMS</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
