<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>CHIPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="primero">
    <ion-chip>Default</ion-chip>
    <ion-chip [disabled]="true">Disabled</ion-chip>
    <ion-chip [outline]="true">Outline</ion-chip>
  </div>
  <hr color="secondary">
  <div class="segundo">
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    
    <ion-chip>
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Icon Chip</ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </div>
  <hr color="secondary">
  <div class="tercero">
    <ion-chip>Default</ion-chip>
    <ion-chip color="primary">Primary</ion-chip>
    <ion-chip color="secondary">Secondary</ion-chip>
    <ion-chip color="tertiary">Tertiary</ion-chip>
    <ion-chip color="success">Success</ion-chip>
    <ion-chip color="warning">Warning</ion-chip>
    <ion-chip color="danger">Danger</ion-chip>
    <ion-chip color="light">Light</ion-chip>
    <ion-chip color="medium">Medium</ion-chip>
    <ion-chip color="dark">Dark</ion-chip>
  </div>
</ion-content>
