<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #nombreFrm = "ngForm" (ngSubmit) = "register(nombreFrm)">
    <ion-input name="nomie" [(ngModel)] = "nombre" type="text"  label="Nombre" required>
    </ion-input>

    <ion-input name="emmanuel" [(ngModel)] = "email" type="email"  label="Email" required>
    </ion-input>
    
    <ion-input name="pascuaro" [(ngModel)] = "password" type="password" label="Password" required>
    </ion-input>

    <ion-input name="pascuaro2" [(ngModel)] = "password2" type="password" label="Confirm password" required>
    </ion-input>

    <ion-button type="submit" expand="block">Registrarse</ion-button>
    
    <p>
      <ion-button  type="button" expand="block" fill="clear" routerLink = "/login" >ya tienes cuenta ? Inicia Sesion</ion-button>
    </p>
    
  </form>
</ion-content>
